.logo{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
.description{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: medium;
}
.description > p >span{
    font-weight: 900;
    font-size: large;
}
.container{
    background-image: url("images/landing.jpg");
    height: 100v;
    padding: 20px;
}