.logo{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
.description{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: medium;
    color: white;
}
.description > p >span{
    font-weight: 900;
    font-size: large;
}
.container{
    background-image: url("images/landing.jpg");
    height: 100vh;
    padding: 20px;
    background-repeat: no-repeat;
    object-fit: cover;
}
#fast foods{
    border: 1px solid grey;
    margin: 0%;
    padding: 0%;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    float: left;
}