.introductory {
    background-color: white;
    height: 100vh;
    background-image: url("images/landing.jpg");
    background-size: cover;
    border: 2px solid white;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 125px;
}

.description {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 900px;
    text-indent: 50px;
    font-size: 200%;

}

.block {
    /* display: block;
    width: 30%;
    height: 30px;
    padding: 5px;
    float: left;
    margin-bottom: 1000px; */

    /* border: 1px solid black; */
    float: left;
    display: block;
    margin: 15px 2% 0 2%;
    width: 26%;
    /* I cannot use that */
    /* border: 2px solid grey;
    padding: 50px 50px 50px 50px; */
}

.food {
    /* float: right; */
    float: right;
    display: block;
    margin: 15px 2% 0 2%;
    width: 66%;
    /* The width should be variable */
}

.soft {
    float: right;
    display: block;
    margin: 15px 2% 0 2%;
    width: 26%;
    /* border: 2px solid grey; */
}

.drinks {
    /* float: right; */
    float: left;
    display: block;
    margin: 15px 2% 0 2%;
    width: 66%;
    /* The width should be variable */
}

/*  */
.takeaway {
    margin-bottom: 200px;
}

.beverages {
    margin-bottom: 200px;
    /* display: flex;
    justify-content: center; */
}

.snacks {
    display: flex;
    justify-content: space-evenly;
}

.variety {
    display: flex;
    justify-content: space-evenly;
}

#one {
    border: 2px solid grey;
    width: 200px;
    height: 50px;
    text-align: center;
}

#two {
    border: 2px solid grey;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: grey;
}

#three {
    border: 2px solid grey;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: grey;
}

#four {
    border: 2px solid grey;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: grey;
}

.brand {
    border: 2px solid grey;
    padding: 100px;
    margin-bottom: 100px;

}

.recommended {
    /* border: 2px solid grey;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px; */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.visitors {
    display: flex;
    justify-content: center;

}

.email {
    background-image: url("images/subscribe.jpg");
    height: 200px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.signs {
    background-color: #F15A29;
    height: 200px;
    /* display: flex; */
    justify-content: center;

}

.form {
    display: flex;
}

.vl {
    top: 30px;
    border-left: 1px solid grey;
    height: 100px;
}